


<div class="container justify-content-center">
    <!-- <button type="button" class="btn btn-success"  *ngIf="_authService.loggedIn()" routerLink="/draft-maker" routerLinkActive = "active">Create a Draft List</button>
    <button type="button" class="btn btn-success"  *ngIf="_authService.loggedIn()" (click) ="editDraft(true)" routerLink="/draftmode" routerLinkActive = "active">Edit a Draft List</button> -->

    <!-- <button type="button" class="btn btn-success"  (click) ="setDraft('default')"   routerLink="/draft-form" routerLinkActive = "active">Start a Draft</button>

    <button type="button" class="btn btn-success"  (click) ="setDraft('generic')" routerLink="/draft-form" routerLinkActive = "active">Start a Generic Draft</button> -->



        <div class="row">
          <div *ngFor = "let draft of drafts" class="col-auto">
            <!-- (click)="setCustomDraft(draft.id)" -->

            <a routerLink="/draft-form/{{draft.id}}">
              <div class="card rounded">
                <div class="crop rounded">
                  <div class="overlay-div rounded"></div>
                  <img src='https://images.theatticygo.com/card-images/{{draft?.draftimage}}.png' >

                </div>

                <div class="card-img-overlay">
                  <h5 class="text-center align-self-center mx-auto">{{draft.title}} {{draft.id}} </h5>
                </div>
              </div>
            </a>
          </div>
        </div>





      <!-- <button class="btn btn-success" (click)="setCustomDraft(draft.title)" routerLink="/draft-form" routerLinkActive = "active">{{draft.title}}</button> -->




</div>




<!-- <div class="container">
    <form [formGroup] = "draftData" (ngSubmit) = "onSubmit()">

        <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="draftTitle">Draft Title</label>
                <input id="draftTitle" type="text" class="form-control" formControlName="draftTitle" [ngClass]="{'is-invalid': submitted && f['draftTitle'].errors}" placeholder="Game Title">
                <div *ngIf="submitted && f['draftTitle'].errors" class="invalid-feedback">
                    <div *ngIf="f['draftTitle'].errors['required']">
                      <p class="red">Umm Game Title required idiot.</p>
                    </div>
                </div>
              </div>
            </div>



            <div class="col">
              <div class="form-group">
                <label for="totalPlayers">Total Players</label>
                        <select class="form-control"  id="totalPlayers" [ngClass]="{'is-invalid': submitted && f['totalPlayers'].errors}" formControlName="totalPlayers">
                          <option value = 2>2</option>
                          <option value = 3>3</option>
                          <option value = 4>4</option>
                        </select>
                        <div *ngIf="submitted && f['totalPlayers'].errors" class="invalid-feedback">
                          <div *ngIf="f['totalPlayers'].errors['required']">
                            <p class="red">Player amount required.</p>
                          </div>
                      </div>
              </div>
            </div>








        </div>








            <app-gameform #gameForm [submitted] = "submitted" [match] = "gameData"></app-gameform>
            <button class="btn btn-primary" type="submit">Submit</button>



            <div *ngIf="submitfail && submitted" class="submit-text-fail" >
              Submission failed! Fix errors above.
            </div>

            <div *ngIf="!submitfail && submitted" class="submit-text-success">
              Match submitted!
            </div>



          </form>


</div> -->
