<div class="container">
    <h1 class="text-center">This is still a work in progress.</h1>
    <h1 class="text-center">This will simply reveal 10 random cards from the ENTIRE database at a time.</h1>
</div>










<div class="container-fluid">
    <div class="row">
      <h1 class="text-center">Coming Soon</h1>
      <div class="container">
        
        
        <button class="btn btn-success"(click)="revealCards()">Reveal Cards</button>
        <button class="btn btn-success"(click)="shuffleCards()">Open Next Pack</button>
        

      </div>

    </div>
    <div class="row">
          <div class="col">
            <div>

              <span  *ngFor = "let card of randomCards">

                  <button class="btn btn-default" (click)="showDetails(card)" >
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="/assets/cardimages/Default.png" >
                        </div>
                        <div class="flip-card-back">
                          <img src={{card?.image}}>
                        </div>
                      </div>
                    </div>
  
                  </button>
                  
              </span>
          </div>
          </div>




            <!-- <div *ngIf = 'TurnPlayer==2' class="col-lg-9">

                <span  *ngFor = "let card of p2SelectableCards">

                    <button class="btn btn-default" (click)="showDetails(card.id)" >
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="\assets\cardimages\Default.png" >
                          </div>
                          <div class="flip-card-back">
                            <img src={{card?.image}}>
                          </div>
                        </div>
                      </div>
    
                    </button>
                    
                </span>
            </div> -->
    

            <!-- <div class="col-lg-3">
                <img src = {{card?.image}}> 
                <p>{{card?.name}}</p>
                <p>{{card?.cardtype}}</p>
    
                <p *ngIf = "card?.cardtype!=undefined && card?.cardtype!='Spell' && card?.cardtype!='Trap'">
                    Level {{card?.level}} {{card?.attribute}} {{card?.type}}
                </p>
                <p> {{card?.effect}}</p>
            </div> -->
    
    
    </div>
    </div>