






 



<div class="container-fluid">
    <div class="row">
      


    </div>
    <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <div>

              <span  *ngFor = "let card of randomCards">

                  <button class="btn btn-default" (click)="showDetails(card)" >
    
                    <div class="card" [@cardFlip]="this.state">
                      <div class="face back">
                        <img src="assets/cardimages/Default.png" />
                        
                      </div>
                        <div class="face front" *ngIf="card.rarity=='common'">
                          <img src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'>
                        </div>

                        <div class="face front rare-card" *ngIf="card.rarity!='common'">
                          <img class = "sparkle" *ngIf="card.rarity=='secret'" src ='/assets/effects/giphy.gif'>
                          <img class = "sparkle" *ngIf="card.rarity=='super'" src ='/assets/effects/super.gif'>
                          <img class = "sparkle" *ngIf="card.rarity=='ultra'" src ='/assets/effects/fireworks.gif'>
                          <img src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'>
                        </div>
                        


                        </div>

                      
                        <span  *ngIf="revealed==true && card.rarity=='common'"><b>{{card?.rarity}}</b></span>
                        <span style="color:blue;" *ngIf="revealed==true && card.rarity=='rare' "><b>{{card?.rarity}}</b></span>
                        <span style="color:orangered;" *ngIf="revealed==true && card.rarity=='super'"><b>{{card?.rarity}}</b></span>
                        <span style="color:red;" *ngIf="revealed==true && card.rarity=='ultra'"><b>{{card?.rarity}}</b></span>
                        <span style="color:purple;" *ngIf="revealed==true && card.rarity=='secret'"><b>{{card?.rarity}}</b></span>
                  </button>
                  
                  
              </span>
          </div>
          </div>




            <!-- <div *ngIf = 'TurnPlayer==2' class="col-lg-9">

                <span  *ngFor = "let card of p2SelectableCards">

                    <button class="btn btn-default" (click)="showDetails(card.id)" >
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="\assets\cardimages\Default.png" >
                          </div>
                          <div class="flip-card-back">
                            <img src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'.png>
                          </div>
                        </div>
                      </div>
    
                    </button>
                    
                </span>
            </div> -->
    

            <!-- <div class="col-lg-3">
                <img src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'> 
                <p>{{card?.name}}</p>
                <p>{{card?.cardtype}}</p>
    
                <p *ngIf = "card?.cardtype!=undefined && card?.cardtype!='Spell' && card?.cardtype!='Trap'">
                    Level {{card?.level}} {{card?.attribute}} {{card?.type}}
                </p>
                <p> {{card?.effect}}</p>
            </div> -->
    
    
    </div>

    <div class="container">
        
        
      <button class="btn btn-success" [disabled]="packsOpened>packAmount || revealed==true" (click)="revealCards()">Open Pack {{packsOpened}}/{{packAmount}}</button>
      <button class="btn btn-success" [disabled]="revealed==false || packsOpened==packAmount" (click)="openNextPack()">Open Next Pack</button>
      <!-- <button class="btn btn-success" [disabled]="revealed==false || packsOpened==packAmount" (click)="openNextPack()">Save to Collection</button> -->
      

    </div>
    <div class="row justify-content-center" *ngIf = "card!= undefined">
      <div class="col-sm-2"><img class="bigcard" href='' (click)="goToLink(card.id)" src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'> </div>
      <div class="col-md-4 cardeffect">
        
        <b><p *ngIf="monster=='True'">
            <img class="attribute" src={{attribute}}> {{card?.attribute}} <img class="star" src="assets/cardstats/Star.png"> {{card?.level}}  
        </p></b>
  
        <p *ngIf="monster=='False'">
            <img class="attribute" src={{attribute}}> {{card?.attribute}}
        </p>
  
        <h3>{{card?.name}}</h3>
        <h4 *ngIf="monster=='False'"><img class="type" src={{stType}}> {{card?.cardtype}} </h4>
        <h4 *ngIf="monster=='True'"> {{card?.cardtype}} </h4>
        
  
  
        <b>
            
            <p *ngIf="monster=='True'"><img class="type" src={{mType}}> {{card?.type}}</p>
        
        
            <p *ngIf="monster=='True'">ATK/{{card?.atk}}  DEF/{{card?.def}}</p>
            <p> {{card?.effect}}</p>
        </b>
        
      </div>

    </div>





    <div class="col-lg-12">
      <h2>Current Cards</h2>
      <span *ngFor = "let card of currentOpened">
          <img class ="smallcard" href='' (click)="goToLink(card.id)" src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'>
      </span>
    </div>

    <div class="col-lg-12">
      <h2>Card List</h2>
      <ul *ngFor = "let card of currentOpened">
        <li> <b>{{card?.name}}</b>, {{card?.cardtype}}, <b>{{card?.creator}}</b></li>
      </ul>


    </div>

    </div>