<nav class="navbar navbar-default navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">
    <img class="wretched" src="/assets/images/Wretched.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive = "active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >Pack Maker</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >Drafts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/db-download" routerLinkActive = "active">Download from DB</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/customcard-db" >Database</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary"  routerLink="/login" routerLinkActive = "active">Login</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary"  routerLink="/signup" routerLinkActive = "active">Sign Up</button>
    </form>
    
  </div>
</nav>



  <router-outlet></router-outlet> 







