<div class="container">

    <div class="row">
        <div class="col">
            <button (click) = "updateCOTD()" class="btn btn-success">Randomize Card of the Day</button>
            <button class="btn btn-success" routerLink="/editor">Create Article</button>
            <button class="btn btn-success" routerLink="/database">Update Database</button>

            <button class="btn btn-success" routerLink="/pack-maker">Pack Maker</button>
            <button class="btn btn-success" routerLink="/pack-editor">Pack Editor</button>
            <button class="btn btn-success" routerLink="/structure-deck-maker">Deck Maker</button>
            <button class="btn btn-success" routerLink="/admin/upload-card-images">Upload Card Images</button>

        </div>
    </div>
</div>
