.list-group-item {
  background-color: transparent;
}


li{
  padding:0;
  margin:0;
  color:white;
}

.list-group-item::before {
  content: "â—";
  margin-right: 0.75rem;
}
a:hover{
  cursor: pointer;
}