<app-hover-card></app-hover-card>
<span *ngIf="mode=='editor'">
  <div class="col-lg-12">
    <h2>Monsters</h2>
    <span *ngFor = "let card of cardlist">
        <button class="btn btn-default" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()" *ngIf="card.cardtype.includes('Monster')" (contextmenu)="rightDeleteDraftCard($event,card)" (click)="goToLink(card?.id)" ><img loading="lazy" class ="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'></button>
    </span>
</div>


<div class="col-lg-12">
    <h2>Spells</h2>
    <span *ngFor = "let card of cardlist">
        <button class="btn btn-default" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()" *ngIf="card.cardtype.includes('Spell')" (contextmenu)="rightDeleteDraftCard($event,card)" (click)="goToLink(card?.id)" ><img loading="lazy" class ="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'></button>
    </span>
</div>

<div class="col-lg-12">
    <h2>Traps</h2>
    <span *ngFor = "let card of cardlist">
        <button class="btn btn-default" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()" *ngIf="card.cardtype.includes('Trap')" (contextmenu)="rightDeleteDraftCard($event,card)" (click)="goToLink(card?.id)" ><img loading="lazy" class ="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'></button>
    </span>
</div>

<div class="col-lg-12">
    <h2>Extra</h2>
    <span *ngFor = "let card of cardlist">
        <button class="btn btn-default" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()" *ngIf="card.cardtype.includes('Fusion')" (contextmenu)="rightDeleteDraftCard($event,card)" (click)="goToLink(card?.id)" ><img loading="lazy" class ="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'></button>
    </span>
</div>

</span>
<span *ngIf="mode!='editor'">
  <span *ngFor="let card of effectCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of spellCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of trapCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of fusionCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of xyzCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of synchroCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>
  <span *ngFor="let card of ritualCards">
    <button *ngIf="card!=undefined" (mouseenter)="mouseHovering(card,$event)" (mouseleave)="mouseLeft()"
        class="btn btn-default"
        (click)="goToLink(card?.id)">
        <div class="relative">
            <img loading="lazy" class="smallcard" src='https://images.theatticygo.com/card-images/{{card?.id}}.png?{{getTimeStamp()}}'>
        </div>
    </button>
  </span>

</span>

