button{
    padding:5px;
    margin:3px;
}

nav{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    margin-top:10px;
    
}
button{
    font-size:1.5rem;

}

a{
    color:white !important;
}a:hover{
    color:green !important;
}

li{
    margin: 0 5px;
}
a:hover{
    cursor: pointer;
}