.navbar-brand {
  padding-bottom: 10px;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}
button {
  font-size: x-large;
}
a {
  color: white !important;
}
a:hover {
  color: green !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
  border-color: yellow;
}
.blank {
  height: 100px;
}

@media (max-width: 768px) {
  .collapse {
    background-color: #212529;
    padding-left: 5px;
    margin: 0;
  }
  .nav-item {
    padding-left: 5px;
  }
  .navbar-collapse {
    background-color: #212529;
    z-index: 1000;
    padding: 0;
    margin: 0;
  }
  nav {
    font-family: "Oswald", sans-serif;
    font-size: medium;
  }
  .navbar-brand {
    margin-top: -15px;
  }
}
