.navbar-default {
    background-color:#1f1a1f;
    background-image: none;
    background-repeat: no-repeat;
   }
nav{
height:75px;
}
.navbar-brand{
    padding-left:10px;
    margin-right: -3rem !important;
}

body {
    background: #f2f2f2  !important;
  }

h1{
    color:#f7f7f7;
}
h2{
    color:#f7f7f7;
}
.container{
    margin-top:10px;
}

body{
    padding:0px;
    margin:0px;
    
}

label{
    color:black;
}

p{
    color:black;
}
ul{
    
        color:black;
    
}

.wretched{
    width:50%;
    margin-top:20px;
}