.navbar-default {
  background-color: 
  #222222
  ;
  background-image: none;
  background-repeat: no-repeat;
}
nav {
  height: 75px;
}

body {
  background: #16181C !important;
}

.container {
  margin-top: 10px;
}
.extra-space {
  height: 200px;
}

body {
  padding: 0px;
  margin: 0px;
}
.wretched {
  width: 50%;
}


label {
  color: #e3e3e3;
}

ngx-editor p{
  color:black;
}

ngx-editor ul {
  color:black;
}

ngx-editor h1 {
  font-family: "Oswald", sans-serif;
  color:black;
}
ngx-editor h2 {
  font-family: "Oswald", sans-serif;
  color:black;
}
ngx-editor h3 {
  font-family: "Oswald", sans-serif;
  color:black;
}
ngx-editor h4 {
  font-family: "Oswald", sans-serif;
  color:black;
}

ngx-editor label {
  font-family: "Oswald", sans-serif;
  color:black;
}





p {
  color: #e3e3e3;
}
ul {
  color: #e3e3e3;
}


h2 {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
}
h3 {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
}
h4 {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
}

label {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
}

.button-danger {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
  font-size: x-large;
}
.btn-success {
  font-family: "Oswald", sans-serif;
  color: #e3e3e3;
  background-color: #16181C !important;
  border-color: #198754;
  /* background-color: #1f1a1f !important; */
}





button {
  padding: 5px;
  margin: 3px;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

nav {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  color: #e3e3e3 ;
}
.hovering {
  background-color: rgba(5, 163, 90, 0.858);
  color: #e3e3e3;
  width: 350px;
  position: fixed;
  padding: 2px;
  pointer-events: none;
  z-index: 100000;
}

.star {
  width: 34px;
  height: 34px;
}
.attribute {
  width: 34px;
  height: 34px;
}
.type {
  width: 34px;
  height: 34px;
}

.addcard {
  width: 100px;
  height: 40px;
  margin-left: 5px;
}
a {
  text-decoration: none !important;
  color:#198754 !important;
}
a:hover {
  color: #055734 !important;
}
.table-dark {
  background-color: blue !important;
}

button:hover{
  color: #055734 !important;
  transition: 0.3s;
}



.article-card {
  margin: 5px;
  padding: auto;
  cursor: pointer;
  position: relative;
  border-color: black;
  border-radius: 0%;
  transition:.5s;
}
.article-card:hover{
  transform:scale(1.05);
}