.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  text-align: center;
}

button {
  padding: 0;
  margin: 0;
}
.pack {
  width: 225px;
  cursor: pointer;
}
.card-text {
  font-size: x-large;
  font-weight: 400;
}

button {
  padding: 5px;
  margin: 3px;
  font-family: "Noto Sans", sans-serif !important;
  font-size: 1.2em;
}

.text-center {
  margin-top: 20px;
}
a {
  color: #e3e3e3;
}

.small-card:hover {
  cursor: pointer;
  opacity: 1;
  transform:scale(1.05);
}

.card{
  border:0;
  height: 250px;
}

.newbie .card h1 {
  text-shadow: 3px 3px 0px black !important;
}
.newbie .card .card-text {
  text-shadow: 3px 3px 0px black !important;
  font-size: 2em;
  color: white !important;
}
.newbie p {
  color: white !important;
}
.newbie h1 {
  color: white !important;
}
.newbie-outline{

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;

}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
h1 {
  font-size: 3.5em;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 600;
}
.newbie {
  background-color:   #075433;
  background-image: url("/assets/images/collage.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size:     cover;
  border-radius: 0.85rem !important;

}
.newbie{
  background-image: url("/assets/images/collage.png");
}

.newbie-crop {
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}
.newbie-crop img {
  width: 1%;
  margin: -170px 6000px 0px -52px;
  background-color: #000;
}

.article-label {
  width: 100px;
  height: 50px;
}

.newbie-overlay-div {
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #000;
  opacity: 0.4; 
  transition: 0.3s;
}
.newbie-overlay-div:hover {
  background-color: blue;
}



.row-small {
  width: 90%;
  align-items: center;
  text-align: center;
  align-content: center;
}
.container-fluid {
  width: 60%;
}
.crop {
  width: 350px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}
.small-card {
  width: 350px;
  height: 150px;
  opacity: 0.85;
  transition: 0.5s;
}
.crop img {
  width: 133%;
  margin: -150px 6000px 0px -58px;
  background-color: #000;
}
.smaller {
  width: 250px;
}
.cotd {
  width: 175px;
  margin: 5px 0 5px 0;
}
.card-title {
  color: #e3e3e3;
  height:40px;
  margin-bottom:20px;
}
.carousel-item {
  cursor: pointer;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
}
.carousel-item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-img-overlay {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3.0em;
  padding: 0;
  padding-top:20px;
}
p {
  color: #e3e3e3;
}

.overlay-div {
  width: 350px;
  height: 150px;
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  transition: 0.3s;
}
.overlay-div:hover {
  background-color: red;
}

.row {
  margin-top: 10px;
}

@media(min-width:1500px){

  .crop {
    width: 350px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
  }
  .small-card {
    width: 350px;
    height: 150px;
    opacity: 0.85;
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .card .card-text {
    text-shadow: 3px 3px 0px black !important;
    font-size: 1em;
  }
  h1 {
    font-size: 2.5em;
    font-family: "Noto Sans", sans-serif !important;
    font-weight: 600;
  }
  .newbie {
    height: 200px;
  }
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-img-top-decklist {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.article-card {
  
  margin: 5px;
  padding: auto;
  cursor: pointer;
  position: relative;
  border-color: black;
  border-radius: 0%;
  transition:.5s;
  width:100%;
}
.article-card:hover{
  transform:scale(1.05);
}


.article-label {
  width: 100px;
  height: 25px;
  background-color: purple;
  position: absolute;
  top: -10px;
  left: -20px;
}

.article-label-shadow {
  color: black;
  border: 1px solid;
  box-shadow: 3px 4px;
}

.article-label-text {
  color: #e3e3e3;
  text-align: center;
}

.article-info-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 2px;
  margin: 0;
}
.article-card-text {
  color: #ededed;
  font-family: Roboto;
  font-size: 14px;
}

h5 {
  color: #ededed;
}
h4{
  color:#ededed;
  font-size:20px;
  
}
.alert-padding{
  padding-bottom:1000px;
}

.alert{
  height:35px;
  width:100%;
  background-color: #075433;
  padding: .3rem 0rem 1rem;
  margin-top:3px;
}
.card-body{
  background-color: rgba(0, 0, 0, .65);
}


.notice{
  border:1px solid transparent;
  border-radius:.25rem;
  position:relative;
  margin-bottom:1rem;
  height:35px;
  width:100%;
  background-color:#075433;
  padding:.3rem 0rem 1rem;
  margin-top:3px;
  text-align: center;
}