
<div class="container">

    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <h1>Settings</h1>
            </div>
            <div class="row">
                <button class="btn button btn-success">Profile</button>
            </div>
            <div class="row">
                <button class="btn button btn-success">Account</button>
            </div>

            
        
        </div>
        <div class="col-md-5">
            <div class="row">
                <h2>Profile Image</h2>
                <p class="text-center"><button class="btn btn-default" (click)="selectCardEdit(0)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.profile_image}}.png">
                </button></p>
                
            </div>
            <div class="row">
                <h2>Favorite Cards</h2>

                <p class="text-center">
                <button class="button btn btn-default" (click)="selectCardEdit(1)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.favorite_card1}}.png">
                </button>
                <button class="button btn btn-default" (click)="selectCardEdit(2)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.favorite_card2}}.png">
                </button>
                <button class="button btn btn-default" (click)="selectCardEdit(3)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.favorite_card3}}.png">
                </button>
                <button class="button btn btn-default" (click)="selectCardEdit(4)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.favorite_card4}}.png">
                </button>
                <button class="button btn btn-default" (click)="selectCardEdit(5)" >
                    <img class="smallcard" src="assets/cardimages/{{newSettings.favorite_card5}}.png">
                </button>
            </p>

                
            </div>
            
            <div class="row">
                <button class=" smallbtn btn button btn-success"(click)="saveImages()">Save</button>
            </div>
            
            
        </div>
            <div class="col-md-5 mr-auto text-center"  >
                <div class="row" (keydown.enter)="submitSearch()">
                    <div class="row">
                        <label for="Name">Name</label>
                        <input class="form-control" type="text" [(ngModel)] = "filters.name">
                        <button class="btn btn-success" (click)="submitSearch()">Search</button>
                    </div>
            
                    <div class="cards row-lg-8 overflow-auto">
                        <div class="d-flex justify-content-center">
                                <div id="Loading" class="spinner-border" role="status">
                                    <span class="sr-only" ></span>
                                </div>
                        </div>
                
                            <span *ngFor = "let card of currentCards">
                
                                <button  class="btn btn-default"   (click)="setCard(card.id)" ><img class ="smallcard" src='https://raw.githubusercontent.com/farisalkhat/CustomCardWebsite/master/src/assets/cardimages/{{card?.id}}.png'></button>
                            </span>
                
                        
                    </div>
            
                    <div class="row">
                        <button class="btn btn-success" (click)="nextPage()">Next</button><button class="btn btn-success" (click)="prevPage()">Previous</button>
                    </div>
            
                </div>
            </div>

    </div>


</div>


